<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWA - Motor Company</title>
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <button id="installBtn" style="display: none;">Instale o App</button>
    <div id="container">
        <div id="login-box">
            <img src="../../assets/logo.png" id="logo" alt="Logo da Motor Company">
            <h1>Bem Vindo ao Motor Company</h1>
            <p>Faça login para continuar</p>

            <p id="error-message" style="color: #ff6600; font-weight: bold; display: none; margin-bottom: 15px;">
                Credenciais inválidas. Tente novamente.</p>

            <form action="../controllers/login.php" method="post">
                <div class="grupo">
                    <label>E-mail</label>
                    <input type="email" name="email" placeholder="Digite seu e-mail" required>
                </div>
                <div class="grupo">
                    <label>Senha</label>
                    <input type="password" name="senha" placeholder="Digite sua senha" required>
                </div>
                <button type="submit">Entrar</button>
            </form>
            <div id="links">
                <a href="cadastro.html">Criar conta</a>
                <a href="">Esqueci minha senha</a>
            </div>
        </div>
    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('error')) {
            document.getElementById('error-message').style.display = 'block';
        }
    </script>

    <script src="../../script.js"></script>

</body>

</html>