<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWA - Motor Company</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <button id="installBtn" style="display: none;" hidden>Instale o App</button>
    <div id="container">
        <div id="login-box">
            <img src="logo.png" id="logo">
            <h1>Bem Vindo ao Motor Company</h1>
            <p>Faça login para continuar</p>

            <form action="principal.html" method="post">
                <div class="grupo">
                    <label>E-mail</label>
                    <input type="email" name="email" placeholder="Digite seu e-mail" required>
                </div>
                <div>
                    <label>Senha</label>
                    <input type="password" name="senha" required>
                </div>
                <button type="submit">Entrar</button>
            </form>
            <div id="links">
                <a href="register.html">Criar conta</a>
                <a href="esqueci.html">Esqueci minha senha</a>
            </div>
        </div>
    </div>
</body>
<script src="script.js"></script>

</html>